
@{
    ViewBag.Title = "StandardHelper";
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Standard Html</h2>
    @Html.Label("name", "First Name")
    @Html.TextBox("txtname", "", new { @class = "form-control", PlaceHolder = "First Name" })
    <br />
    @Html.TextArea("address", new { @class = "form-control", rows = 5, PlaceHolder = "Address" })

    @Html.Password("Pass", "", new { @class = "form-control" })

    @Html.RadioButton("mstats", "Married", new { id = "IsMarried" }) Married ?
    <br />

    @Html.CheckBox("sk1") HTML 5

    @Html.CheckBox("sk2") Dot Net

    @Html.CheckBox("sk3") SQl

    @Html.CheckBox("sk4") Asp Net
    <br />

    @Html.ListBox("skills", new List<SelectListItem>

{

    new SelectListItem{Text="ASP.Net",Value="1"},

        new SelectListItem{Text="MVC",Value="2"},

            new SelectListItem{Text="React Js",Value="3"},

                new SelectListItem{Text="Angular",Value="4"},

                    new SelectListItem{Text="Html",Value="5"},

    }, new { @class = "form-control" })
    <br />

    @Html.DropDownList("gender", new List<SelectListItem>

    {

        new SelectListItem{Text="Select Gender",Value="-1"},

                new SelectListItem{Text="Male",Value="1"},

               new SelectListItem{Text="Female",Value="2"},

          new SelectListItem{Text="Others",Value="3"},


    }, new { @class = "form-control" })
</body>
</html>



</body>
</html>