@using Html_Helpr_prj.CustomHelpers
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2> Static Custom Helpers</h2>
<p>
    @CustomStaticHelpers.LabelwithMark("This is exmple for static custom helpers")
</p>

<br />

<hr />
<h2>
    Extension Helpers
</h2>
<p>
    @Html.GreenLabel("This is a Green label Extension Custom helpr")
    @Html.RedLabel("This is a Red label Extension Custom helpr")
</p>
<br />
<h2>
    Inline Helpers
</h2>
       
@*Declaration of inline helprs*@

@helper LabelWithRazor(string content)
    {
    <label><strong><sup>@content</sup></strong></label>
    }

@*calling the inline helpr*@

<p>
    @LabelWithRazor("This is exmple for inline html helpr using razor")
</p>